/***** SCREENS WITH MAX SIZE OF 1200PX WIDTH ----------------------------------------------------------------------------------- ******/
@media only screen and (max-width: 1200px){

}
	
/***** SCREENS WITH MAX SIZE OF 992PX WIDTH ----------------------------------------------------------------------------------- ******/
@media only screen and (max-width: 992px) {
    
}

/***** SCREENS WITH MAX SIZE OF 768PX WIDTH ----------------------------------------------------------------------------------- ******/
@media only screen and (max-width: 768px) {
    
}
/***** SCREENS WITH MAX SIZE OF 576PX WIDTH ----------------------------------------------------------------------------------- ******/
@media only screen and (max-width: 576px) {
  /********** NAVIGATION **********/
nav {
	display: flex;
  width: 100%;
	flex-direction: column;
}
nav ul {
	width: 100%;
  padding: 0;
  margin: 0;
}
nav ul li {
	list-style: none;
	display: inline-flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 16px;
}
nav ul li a {
	margin-left: 0px;
}
.logo-container {
  width: 100%;
  display: block;
  
}
.logo-container img.logo {
	width: 160px;
}

/***** HEADER *******/
header {
	  height: auto;
    background-color: #41AA8B;
}
.header-content {
	display: flex;
	flex-direction: column;
	width: 100%;
  height: auto;
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 20px;
  margin-bottom: 30px;
}
.header-description {
	display: flex;
  flex-direction: column;
	text-align: center;
	width: 100%;
}
.header-img {
	width: 100%;
}
.header-img img {
	display: block;
	width: 400px;
	height: 400px;
	margin-left: 0px;
  margin-top: 40px;
}

h1 {
    color: #fff;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 2.2em;
    margin: 0;
    padding: 0;
}
p.header {
    padding-right: 0px;
    margin-top: 30px;
}
button.primary {
    min-width: 100%;
    margin-right: 0;
    padding: 18px 24px;
}
button.secondary {
    min-width: 100%;
    padding: 18px 24px;
}
button.primary, button.secondary {
    margin-top: 20px;
}

/*** SEED SELECTION ***/

#seed-selection {
	display: flex;
	flex-direction: column;
  text-align: center;
	margin-top: 40px;
  width: 100%;
}
.selection-info h2{
	  display: block;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #725647;
	  text-align: center;
  	padding-left: 60px;
  	padding-right: 60px;
}
p.seed-selection {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    color: #000;
    text-align: center;
	  padding-left: 60px;
	  padding-right: 60px;
    margin-top: 10px;
}
/*** CARD CONTAINER ***/

.card-container {
	  display: flex;
	  flex-direction: column;
	  margin-top: 40px;
	  margin-bottom: 40px;
	  width: 100%;
	  justify-content: center;
}
.card {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 0;
}
.card img {
    display: block;
    width: 100%;
    max-width: 160px;
    margin: 0 auto;
}
.card h3 {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
	  margin-top: 20px;
	  font-weight: normal;
}

/******* FOOTER *******/

footer {
    background-color: #725647;
    margin-top: 80px;
    padding: 60px; 
	  clear: both;
}
.footer-logo {
    width: 100%;
}
.footer-logo img {
    display: block;
    width: 10%;
    margin: 0 auto;
}
.footer-links {
	margin-top: 60px;
}
.useful-links {
	display: inline-block;
	width: 33%;
}
.useful-links h3 {
	color: #fff;
	margin-bottom: 20px;
}
.useful-links ul {
	list-style: none;
}
.useful-links ul li {
	margin-bottom: 8px;
}
.useful-links ul li a {
	text-decoration: none;
	color: #fff;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}
span.icon img {
	height: 20px;
	margin-right:12px;
}
.copyright {
	text-align: center;
	margin-top: 30px;
	color: #fff;
	font-size: 12px;
}
}